<h1>Edit Student</h1>

<%= form_for(@student) do |f| %>
    <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.label :mod %>
        <%= f.text_field :mod %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>